.games {
  ul {
    list-style: none;
    padding: 0;
    margin: 16px 0;

    li {
      background: url(./logos.png) no-repeat;
      border-top: 1px solid #eee;
      padding: 18px 0 18px 45px;
      cursor: pointer;
    }
  }
}
